#introducao, #curriculo, #projetos, #academicos, #certificados, #contato {
    font-family: Impact;
    text-align: center;
    color: white;
}

.navbar {
    font-family:monospace;
}

p {
    color:grey
}

h2 {
    text-align: center;
    color: #719ebe !important;
}
