#introducao, #curriculo, #projetos, #academicos, #certificados, #contato {
    font-family: Impact;
    text-align: center;
    color: #66c0f4;
}

.titulo {
    padding-top: 1vh;
}

.navbar {
    font-family:monospace;
}

p {
    color: #F0E6E6;
    font-size: 1.3rem !important
}

h2 {
    text-align: center;
    color: #719ebe !important;
}

h5 {
    color:white !important;
}

section {
    padding-top: 25vh;
}

footer {
    padding-top: 1vh;
}