<h5 class="text-white">
    @Pedro Henrique Martins. Todos os direitos reservados.
  </h5>
  <h5 class="text-white">
    As logos foram obtidas a partir de seus responsaveis (Python, W3C,
    Oracle e Flask) eu não sou o detentor de seus direitos.
  </h5>