<div class="flex flex-col items-center text-center">
  <div class="mb-4">
    <h5 class="text-[#F7FAFC] font-medium">
      @Pedro Henrique Martins. Todos os direitos reservados.
    </h5>
  </div>
  <div class="mb-4">
    <h5 class="text-[#F7FAFC] text-sm">
      As logos foram obtidas a partir de seus responsáveis (Python, W3C,
      Oracle, Flask, e outros). Eu não sou o detentor de seus direitos.
    </h5>
  </div>
</div>