<nav class="fixed top-0 left-0 right-0 bg-primary">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex items-center justify-between lg:justify-center">
        <button
          class="lg:hidden p-2"
          type="button"
          onclick="document.getElementById('mobileMenu').classList.toggle('hidden')"
        >
          <span class="block w-6 h-0.5 bg-black mb-1"></span>
          <span class="block w-6 h-0.5 bg-black mb-1"></span>
          <span class="block w-6 h-0.5 bg-black"></span>
        </button>
        <div
          class="hidden lg:flex justify-center w-full py-4"
          id="mobileMenu"
        >
          <ul
            class="flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-8"
          >
            <li>
              <a
                class="text-white hover:text-secondary block text-center logo"
                href="#"
                >Introdução</a
              >
            </li>
            <li>
              <a
                class="text-white hover:text-secondary block text-center logo"
                href="#projetos"
                >Principais Projetos</a
              >
            </li>
            <li>
              <a
                class="text-white hover:text-secondary block text-center logo"
                href="#certificados"
                >Certificados</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>